@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Ubuntu:ital,wght@0,500;1,300&display=swap');

.menu{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--menu-font-size);
    font-weight:500;
}

main{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-gray);
    font-size: var(--body-font-size);
    z-index:var(--z-normal) ;
    background-color: var(--white);
}

body .header-text{
    font-weight:900;
    color:var(--black);
    
    &.h1{
        color: var(--white);
        font-size: var(--h1-font-size);
    }
    &.h2{
        font-size: var(--h2-font-size);
    }
    &.h3{
        font-size: var(--h3-font-size);
    }
    &.h4{
        font-size: var(--h4-font-size);
    }
    &.h5{
        font-size: var(--h5-font-size);
        margin-bottom: 15px;
    }
}
