@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Ubuntu:ital,wght@0,500;1,300&display=swap");
:root {
  --height-menu: 4.8rem;
  --menu-padding-a: 0.3rem 2rem;
  --box-shadown: 0 16px 50px var(--menu-nav-bg);
  --box-shadownBarNav: 0 .5px 10px var(--color-gray1); }

:root {
  --color-white:white;
  --color-black:black;
  --color-gray1:#2d323d;
  --color-gray:#828282;
  --color-bg-primary:red;
  --color-bg-primary-degradado:rgba(165, 42, 42, 0.938);
  --menu-nav-bg:rgb(37, 37, 37);
  --header-nav-a:#474646;
  --header-nav-hover-a:hsla(0, 2%, 64%, 0.843); }

:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size:1.3rem;
  --h4-font-size:1.3rem;
  --h5-font-size:1.2rem;
  --body-font-size: 1rem;
  --menu-font-size:1.08rem;
  --small-font-size: 0.8rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 4rem;
      --h2-font-size: 1.8rem;
      --h3-font-size:1.5rem;
      --h4-font-size:1.5rem;
      --h5-font-size:1.25rem;
      --body-font-size: 1.15rem;
      --small-font-size: 1rem; } }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 10000; }

#body-position {
  position: relative;
  z-index: var(--z-normal); }

.menu {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--menu-font-size);
  font-weight: 500; }

body main {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-gray);
  font-size: var(--body-font-size);
  z-index: var(--z-normal);
  background-color: var(--color-white); }

body .header-text {
  font-weight: 900;
  color: var(--black); }
  body .header-text.h1 {
    color: var(--white);
    font-size: var(--h1-font-size); }
  body .header-text.h2 {
    font-size: var(--h2-font-size); }
  body .header-text.h3 {
    font-size: var(--h3-font-size); }
  body .header-text.h4 {
    font-size: var(--h4-font-size); }
  body .header-text.h5 {
    font-size: var(--h5-font-size);
    margin-bottom: 15px; }

.menu__icon {
  font-size: 1.8rem;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .menu__icon {
      display: none; } }

@media screen and (min-width: 768px) {
  .nav__icon--down {
    display: none; } }

.menu {
  z-index: var(--z-modal);
  height: var(--height-menu);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all .5s; }

.menu--bg-color-show {
  background-color: var(--color-white);
  box-shadow: var(--box-shadownBarNav); }

.menu__content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__img {
  width: 8rem; }
  @media screen and (min-width: 992px) {
    .menu__img {
      position: absolute;
      width: 10rem; } }

.menu__nav {
  background-color: var(--menu-nav-bg);
  position: absolute;
  right: 0;
  top: var(--height-menu);
  height: calc(100vh - var(--height-menu));
  width: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all .5s ease; }
  @media screen and (min-width: 768px) {
    .menu__nav {
      position: relative;
      overflow: visible;
      width: auto;
      display: block;
      height: auto;
      top: 0;
      background-color: transparent; } }
  @media screen and (min-width: 992px) {
    .menu__nav {
      margin: 0 auto; } }

.menu__nav--show {
  width: 70%; }

.drawer {
  background-color: transparent;
  display: none;
  position: absolute;
  height: calc(100vh - var(--height-menu));
  top: var(--height-menu); }

.drawer--show {
  width: 100%;
  right: 0;
  display: block; }

.nav__ulFirst {
  height: auto;
  width: 100%;
  margin: 1rem 0 auto;
  list-style: none;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .nav__ulFirst {
      height: auto;
      margin: 0;
      padding: 0;
      display: flex; } }

.nav__a {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  padding: var(--menu-padding-a); }
  .nav__a:hover {
    color: var(--color-black);
    background-color: var(--color-gray); }
  @media screen and (min-width: 768px) {
    .nav__a {
      line-height: var(--height-menu);
      padding: 0 1rem;
      color: var(--header-nav-a); }
      .nav__a:hover {
        background-color: transparent; } }

.nav__ulSecont {
  padding-left: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-in-out; }
  @media screen and (min-width: 768px) {
    .nav__ulSecont {
      padding: 0;
      transition: all .5s ease-out;
      position: absolute;
      min-width: 232px;
      top: var(--height-menu);
      background-color: var(--color-white);
      border-radius: .5rem;
      box-shadow: var(--box-shadown); }
      .nav__ulSecont .nav__a {
        padding: .7rem 2.5rem;
        line-height: 1.5;
        width: 100%;
        display: block; }
        .nav__ulSecont .nav__a:hover {
          background-color: var(--header-nav-hover-a); } }

.nav__li:hover .nav__ulSecont {
  overflow: hidden;
  max-height: 500px;
  padding: 1.5rem 0; }
  @media screen and (min-width: 768px) {
    .nav__li:hover .nav__ulSecont {
      padding: 1.5rem 0; } }

.banner {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right; }
  @media screen and (min-width: 768px) {
    .banner__img {
      object-position: center; } }

.banner__header {
  position: absolute;
  color: bisque; }

.container-y {
  --padding-top:2rem;
  --padding-botton:2rem;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-botton); }
  @media screen and (min-width: 768px) {
    .container-y {
      --padding-top:3.13rem;
      --padding-botton:3.13rem; } }

.skill__box-click {
  padding: 1rem 1rem; }

.skill__content {
  padding: 0 1rem; }

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem; }

.bar100 {
  background-color: var(--color-gray);
  width: 100%;
  height: 1em;
  border-radius: .5em;
  position: relative;
  top: -1rem; }

main .btn {
  color: var(--color-bg-primary);
  border: 2px solid var(--color-bg-primary);
  font-weight: bold;
  padding: 13px 24px; }
  main .btn:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-white); }

.iconbox-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.iconbox-circle {
  --box-shadown:0 17px 30px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: var(--box-shadown);
  margin-bottom: 25px; }

.point-circle {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-bg-primary-degradado);
  box-shadow: 5px 8px 20px var(--color-bg-secundary); }

.img-center {
  padding: 0 60px;
  width: 100%; }

#pc-movimiento {
  stroke: var(--color-bg-primary);
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: animacionLineal 4s ease-in forwards;
  transition: all 5s; }

@keyframes animacionLineal {
  to {
    stroke-dashoffset: 0; } }

.text-content-icon {
  font-size: var(--small-font-size); }

.footer {
  --padding-foother:2rem;
  --margin-hr:1.5rem;
  background-color: var(--color-gray1);
  z-index: var(--z-back);
  position: sticky;
  padding-top: var(--padding-foother);
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-gray);
  font-size: var(--small-font-size); }
  @media screen and (min-width: 768px) {
    .footer {
      --padding-foother:4rem;
      --margin-hr:2.8rem; } }

.footer .h5 {
  font-family: 'Ubuntu', sans-serif;
  color: white; }

.footer__ul {
  padding: 0; }

.footer__link {
  text-decoration: none;
  color: var(--color-gray); }

.footer li {
  list-style: none;
  text-decoration: none; }

.footer__hr {
  border: 2px solid var(--color-gray);
  margin: var(--margin-hr) 0 0; }

.foother__textEnd {
  margin: 0;
  padding: .5rem 0; }
