.menu{
    background-color: var(--color-white);
    height: var(--height-menu);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.menu__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__img{
    width: 8rem;
    @include rwd-bp(lg){
        position: absolute;
        width: 10rem;
    }
}
.menu__nav{
    background-color: var(--menu-nav-bg);
    position: absolute;
    right: -70%;
    top: var(--height-menu);
    height: calc(100vh - var(--height-menu));
    width: 70%;
    display: flex;
    justify-content: center;
    transition: all .5s ease;
    @include rwd-bp(md){
        position:static;
        width: auto;
        display: block;
        height: auto;
        top: 0;
        background-color: transparent;
    }
    @include rwd-bp(lg){
        margin: 0 auto;
    }
}
.menu__nav--show{
    right: 0;
}
.nav__ulFirst{
    height: auto;
    width: 100%;
    margin: 1rem 0 auto;
    list-style: none;
    padding: 0;
    @include rwd-bp(md){
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
    }
}
.nav__a{
    text-decoration: none;
    color: var(--color-white);
    display: block;
    padding: var(--menu-padding-a);
    &:hover{
        color: var(--color-black);
        background-color: var(--color-gray);
    }

    @include rwd-bp(md){
        line-height:var(--height-menu) ;
        padding: 0 1rem;
        color: var(--header-nav-a);
        &:hover{
            background-color: transparent;
        }
    }
}
.nav__ulSecont{
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
    @include rwd-bp(md){
        padding: 0;
        // padding: 1.5rem 0;
        position: absolute;
        top: var(--height-menu);
        background-color:var(--color-white);        
        border-radius: 1rem;
        box-shadow: var(--box-shadown);
        & .nav__a{
            // color: #797b86;
            padding: .7rem 2.5rem;
            line-height: 1.5;
            width: 100%;
            display: block;
            &:hover{
                background-color: var(--header-nav-hover-a);
            }
        }
    }
}
.nav__ulSecont--show{
    overflow: hidden;
    max-height: 500px;
    @include rwd-bp(md){
        // TODO: el padding genera un movimiento feo al momento de cerar
        padding: 1.5rem 0;
    }
}